---
---

body, html {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
a:hover {
	text-decoration: none;
}
.frontpage-body {
	background: url(img/background.jpg);
}
.btn {
	border-radius: 30px;
	padding: 0.8rem 3.2rem;
}
.btn-primary {
	background: #C15B78;
	border: 0;
	&:hover, &:active {
		background-color: darken(#C15B78, 15%) !important;
	}
}
b, strong {
    font-weight: 500;
}
h2 {
	font-weight: 300;
}

/** HEADER **/
.navigation-top {
	position: fixed;
	top: 0;
	bottom: auto;
	width: 100%;
	z-index: 9999;
	display: flex;
}
header {
	position: fixed;
	width: 100%;
	box-shadow: 0 2px 3px 0px #00000066;
	z-index: 10;
}
.header {
	height: auto;
	display: flex;
	padding: 0 1rem;
	justify-content: space-between;
	font-size: 1rem;
	background: white;
	@media only screen and (min-width: 992px) {
		align-items: center;
		font-size: .8rem;
		height: 48px;
		padding: 0 4rem;
	}
	.nav-logo {
		height: 36px;
		margin-top: 6px;
		margin-bottom: 6px;
		@media only screen and (min-width: 992px) {
			height: 32px;
		}
	}
	.nav-container {
		display: flex;
		align-items: center;
		align-self: center;
		flex-direction: column;
		transition: all 0.5s;
		@media only screen and (min-width: 992px) {
			flex-direction: row;
		}
		&>a {
			margin: 0 1rem;
			text-align: right;
			color: #707070;
			display: none;
			transition: all 0.5s;
			@media only screen and (min-width: 992px) {
				border-top: 0;
				display: inline-block;
			}
		}
		.current-page {
			opacity: 1;
			color: black;
			font-weight: 500;
			display: inline-block;
		}
	}
	.nav-container-open {
		margin: 1rem 0;
		@media only screen and (min-width: 992px) {
			margin: 0;
		}
		&>a {
			padding: 1rem 0;
	    display: inline-block;
	    width: 100%;
	    text-align: center;
			opacity: 1;
			border-top: 1px solid gray;
			@media only screen and (min-width: 992px) {
		    width: auto;
			}
		}
		&>a:nth-child(1) {
			border-top: 0;
		}
	}
	.nav-collapser {
		width: 48px;
		height: 48px;
		background: transparent;
		border: none;
		&:focus {
			outline: none;
		}
		@media only screen and (min-width: 992px) {
			display: none;
		}
		&.nav-collapser-open {
			.fa-bars:before {
				content: "\f00d";
			}
		}
	}
}
.navigation-top-logo {
	display: flex;
  height: fit-content;
  align-self: center;
	margin-left: 4rem;
}

.with-header {
	margin-top: 48px;
}
/**************/

/**** FRONTPAGE *****/
.frontpage-body {
	position: fixed;
	z-index: 3;
	top: 48px;
	bottom: 0;
	width: 100%;
	//height: 100%;
	background-position: bottom;
	//background-size: cover;
}
.custom-row {
	display: flex;
	padding: 0 1.5rem;
	@media only screen and (min-width: 992px) {
		padding: 0;
	}
}
.margin-50 {
	margin: auto;
	@media only screen and (min-width: 992px) {
		margin-left: 50%;
	}
}
.logo-img {
	height: 64px;
	@media only screen and (min-width: 992px) {
		height: 110px;
	}
}
.row-absolute {
	padding: 0;
	margin-top: 2vh;
	@media only screen and (min-width: 992px) {
		bottom: 0;
	  position: absolute;
		left: 3%;
	}
}
.first-slide-img {
	width: 100%;
	height: 100%;
	@media only screen and (min-width: 992px) {
		width: 45vw;
	}
}
.first-slide-body {
	z-index: 3;
	text-align: center;
	@media only screen and (min-width: 992px) {
		text-align: left;
	}
}
.first-slide-text {
	color: black;
	font-size: 1.3rem;
	@media only screen and (min-width: 992px) {
	  font-size: 2.2rem;
	  padding-right: 25%;
	}
}
.watch-video {
	display: inline-block;
  padding: 0.8rem 3rem;
  border: 1px solid black;
  border-radius: 50px;
	color: black;
	font-size: 0.9rem;
	margin-top: 3vh;
	font-weight: 500;
	&:visited, &:hover {
		color: black;
	}
}
.try-it {
	color: black;
	margin-top: 2vh;
	font-size: 1rem;
	@media only screen and (min-width: 992px) {
		margin-top: 10vh;
		font-size: 1.8rem;
	}
}
.download-app {
	display: flex;
	margin-top: 2vh;
	@media only screen and (min-width: 992px) {
		margin-top: 5vh;
		display: block;
	}
}
.mobile-logo-container {
	padding: 0;
	background: transparent;
	border: none;
	cursor: pointer;
	&:hover, &:focus {
		background: transparent;
		border: none;
		outline: none;
	}
	img {
		height: 40px;
		@media only screen and (min-width: 992px) {
			height: 60px;
		}
	}
}
.mr-2 {
	margin-right: 1rem;
	@media only screen and (min-width: 992px) {
		margin-right: 2rem;
	}
}
.m-a {
	margin: auto;
}
.scrollable-pages {
	z-index: 3;
	position: relative;
	margin-top: 48px;
}
.first-page-body {
	height: auto;
	position: relative;
	@media only screen and (min-width: 992px) {
		height: calc(100vh - 48px);
	}
}
.second-page-body {
	background: white;
}
.second-page-title, .third-page-title {
	text-align: center;
	font-size: 18px;
	padding: 51px 2rem 0 2rem;
	@media only screen and (min-width: 992px) {
		font-size: 32px;
	}
}

/*** SWIPER ****/
.swiper-wrapper {
	margin: 2rem 0 !important;
	@media only screen and (min-width: 992px) {
		margin: 4rem 22% 6rem 22%!important;
	}
	.swiper-slide {
		display: flex;
		position: relative;
		flex-direction: column;
		@media only screen and (min-width: 992px) {
			flex-direction: row;
		}
		.swiper-slide-img {
			width: 80%;
			height: auto;
			margin: 0 auto;
			@media only screen and (min-width: 992px) {
				margin: 0 2rem;
				width: 25%;
				height: 100%;
			}
		}
		.swiper-body {
			width: auto;
			margin: 3rem;
			text-align: center;
			@media only screen and (min-width: 992px) {
				text-align: left;
				width: 25%;
				margin: 0 2rem;
			}
		}
		.swiper-slide-svg {
			width: 40px;
			height: auto;
		}
		.swiper-slide-title {
			margin: 1rem 0;
			font-weight: 500;
		}
		.swiper-slide-text {
			margin: 2rem 0;
			color: #707070;
		}
	}
}
.swiper-pagination-bullet {
	background: #C15B78 !important;
	width: 22px !important;
  height: 4px !important;
  border-radius: 12px !important;
}
.color-green {
	.swiper-pagination-bullet {
		background: #3CACAE !important;
	}
}
.swiper-button-next, .swiper-button-prev {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: 0 !important;
	.fas {
		color: #707070;
		font-size: 1.7rem;
	}
}
.swiper-button-prev {
	left: 8px !important;
	@media only screen and (min-width: 992px) {
		left: 5% !important;
	}
}
.swiper-button-next {
	right: 8px !important;
	@media only screen and (min-width: 992px) {
		right: 5% !important;
	}
}
.swiper-button-disabled {
	display: none;
}

/****************/
.custom-btn-primary {
	background: transparent;
	border: 1px solid #707070;
	padding: 10px 15px;
	border-radius: 25px;
	color: #707070 !important;
	&:hover {
		color: black !important;
		border-color: black;
	}
}
.third-page-body {
	background: transparent;
	padding-bottom: 3rem;
}
/*****************
Custom-box
*****************/
.custom-box {
	background: white;
	padding: 1.5rem 1.2rem 3rem 1.2rem;
	box-shadow: 0 2px 4px #00000033;
	height: 100%;
	.custom-box-title {
		font-size: 20px;
		color: black;
		text-align: center;
		margin-bottom: 1rem;
		font-weight: 500;
	}
	.custom-box-body {
		font-size: 13px;
		color: #707070;
		text-align: center;
		padding-top: 1.3rem;
		border-top: 1px solid #707070;
	}
}
.last-page {
	margin-bottom: 100vh;
}
.pr-5 {
	padding-right: 2.3rem !important;
}
.pl-5 {
	padding-left: 2.3rem !important;
}
.policy {
	.policy-row {
		display: flex;
		flex-direction: column-reverse;
		@media only screen and (min-width: 992px) {
			flex-direction: row;
		}
	}
	h4 {
		font-weight: 500;
		small {
			font-weight: 500;
			font-size: 70%;
		}
	}
	h5 {
		font-weight: 500;
		font-size: 1rem;
		margin-bottom: 0;
	}
	.internal-link {
		font-weight: 500;
		color: black;
		display: block;
		margin-bottom: 0.5rem;
		&:hover {
			text-decoration: underline;
		}
	}
	.lvl-1 {
		margin-left: 1rem;
		margin-bottom: 0;
	}
	.lvl-2 {
		margin-left: 2rem;
		margin-bottom: 0;
	}
	:target {
	  display: block;
	  position: relative;
	  top: -80px; 
	  visibility: hidden;
	}
	.index-container {
		position: sticky;
		top: 60px;
	}
}
.pricing {
	background: #FAF9F7;
	@media only screen and (min-width: 992px) {
		background: url(img/background.jpg);
	}
	&>.row {
		min-height: calc(100vh - 48px);
	}
	h4 {
		font-weight: 500;
	}
}
.fee-container {
	padding: 1rem;
	@media only screen and (min-width: 992px) {
		padding: 2rem;
	}
	.fee {
		box-shadow: 0 2px 2px #00000033;
		background: white;
		&>div {
			min-height: auto;
			align-items: center;
			display: flex;
			justify-content: center;
			@media only screen and (min-width: 992px) {
				min-height: 220px;
				margin: 1.5rem 0;
			}
		}
		.fee-price {
			text-align: center;
			padding: 2rem 1rem;
			@media only screen and (min-width: 992px) {
				padding: 1rem 2rem;
			}
			h3 {
				color: #3CACAE;
				font-size: 32px;
				font-weight: 500;
				margin-bottom: 0;
			}
			p {
				font-size: 16px;
			}
		}
		.fee-description {
			padding: 2rem 1rem;
			text-align: center;
			@media only screen and (min-width: 992px) {
				padding: 1rem 2rem;
				text-align: left;
			}
			h3 {
				color: black;
				font-size: 20px;
				font-weight: 500;
				margin-bottom: 1.5rem;
				@media only screen and (min-width: 992px) {
					font-size: 26px;
				}
			}
			p {
				font-size: 16px;
				@media only screen and (min-width: 992px) {
					font-size: 18px;
				}
			}
		}
	}
}
.price-row {
	display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dashed-border {
	border-bottom: 1px dashed rgba(0,0,0,.2);
	@media only screen and (min-width: 992px) {
		border-right: 1px dashed rgba(0,0,0,.2);
		border-bottom: 0;
	}
}
.pricing-questions {
	margin: 3rem 1rem;
	@media only screen and (min-width: 992px) {
		margin: 4rem 1.5rem 0 1.5rem;
	}
	h3 {
		font-size: 22px;
	}
	p {
		font-size: 14px;
		margin-bottom: 7px;
	}
}
.background-white {
	background: #FAF9F7;
	@media only screen and (min-width: 992px) {
		background: white;
	}
}
.mailer-box-container {
	display: flex;
	justify-content: center;
	height: 100%;
	margin-bottom: 0.5rem;
}
.mailer-box {
	background: white;
	padding: 2rem 2rem;
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	min-width: 100%;
	box-shadow: 0 2px 2px #00000033;
	@media only screen and (min-width: 992px) {
		margin-top: 3rem;
		padding: 2rem 4rem;
		min-width: 600px;
	}
	@media only screen and (min-width: 1200px) {
		min-width: 700px;
	}
	.mailer-form {
		display: flex;
		flex-direction: column;
		.input {
			border: 0;
			border-bottom: 1px solid #ababab;
			margin-bottom: 2rem;
			padding: .3rem 0;
			&:focus {
				outline: 0;
				border-bottom: 1px solid #707070;
			}
		}
		.input.mail {
			@media only screen and (min-width: 992px) {
				width: 50%;
			}
		}
	}
}
.contact {
	margin: 2rem 0;
	.contact-img-container {
		position: absolute;
		text-align: center;
		height: 40px;
		width: 28px;
	}
	a {
		font-size: 18px;
		padding-left: 50px;
		color: black;
		&:hover {
			text-decoration: underline;
		}
	}
}
.text {
	font-size: 1rem;
	@media only screen and (min-width: 992px) {
		font-size: 1.3rem;
	}
}
.bridezilla-text-container {
	position: absolute;
	padding-top: 50px;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
	@media only screen and (min-width: 992px) {
		width: auto;
		height: auto;
  	transform: none;
		text-align: left;
		top: 30%;
		left: 55%;
	}
	.bridezilla-title {
		font-size: 1.3rem;
		@media only screen and (min-width: 768px) {
			font-size: 2.2rem;
		}
	}
	.bridezilla-apps {
		//left: 50%;
  	//transform: translate(-50%, 0);
  	width: 100%;
		bottom: 0;
		position: absolute;
		padding-bottom: 50px;
		@media only screen and (min-width: 992px) {
			bottom: auto;
			left: auto;
	  	transform: none;
		}
	}
}
.bridezilla-img {
	img {
		margin-top: 140px;
		@media only screen and (min-width: 992px) {
			height: calc(100vh - 168px);
    	margin-top: 120px;
		}
	}
}

/****** APP PREVIEW *******/
.btn-outline {
	border: 1px solid black;
}
.invitation-card {
	display: flex;
  background: white;
  box-shadow: 0 2px 4px #00000033;
  margin-top: 0;
  width: 100%;
  flex-direction: column;
  @media only screen and (min-width: 576px) {
  	margin-top: 1rem;
  }
  @media only screen and (min-width: 768px) {
  	flex-direction: row;
  	margin-top: 10rem;
  }
  .invitation-card-img-container {
  	img {
		  height: auto;
		  @media only screen and (min-width: 768px) {
		  	height: 460px;
		  }
  	}
  }
  .invitation-card-message {
  	margin: auto;
  	text-align: center;
	  padding: 3rem 0;
	  @media only screen and (min-width: 768px) {
	  	padding: 0;
	  }
  	.invitation-card-title {
			font-size: 20px;
		  @media only screen and (min-width: 768px) {
				font-size: 36px;
		  }
  	}
  	.invitation-card-sub-header {
  		margin-bottom: 2rem;
		  @media only screen and (min-width: 768px) {
  			margin-bottom: 4rem;
		  }
  	}
	  .invitation-card-buttons {
	  	.btn {
	  		display: block;
	  		margin: auto;
	  	}
	  }
  }
}
.bg-beige {
	background: #FAF9F7;
}
.invitation-card-grid {
	display: grid;
	margin: 0;
	grid-gap: 0;
	@media only screen and (min-width: 576px) {
		grid-gap: 1.6rem;
		margin: 1.6rem 0;
	}
	.wedding-card, .location-card, .other-card {
		background: white;
	  box-shadow: 0 2px 4px #00000033;
		width: 100%;
	  @media only screen and (min-width: 768px) {
			width: 460px;
	  }
	}
	.wedding-card {
		grid-column: 1;
		.wedding-card-body {
			padding: 2.5rem 3rem;
			.wedding-card-title {
				font-size: 20px;
				font-weight: 500;
				margin-bottom: 1rem;
			}
		}
	}
	.location-card-container {
		grid-column: 1;
		grid-row: 2;
		@media only screen and (min-width: 992px) {
			grid-column: 2;
			grid-row: 1/3;
	  }
		.location-card-info-container {
			padding: 2rem 3rem;
		}
		.location-card-info {
			display: grid;
			grid-template-columns: 1fr 4fr;
			&.with-border {
				margin-bottom: 1rem;
				padding-bottom: 1rem;
				border-bottom: 1px solid #AEAEAE;
			}
			.location-card-img-container {
				grid-row: 1/3;
		    margin: auto;
		    margin-left: 0;
		    img {
		    	height: 20px;
		    }
			}
			.location-card-info-title {
				grid-column: 2;
				font-size: 20px;
				font-weight: 500;
			}
		}
	}
	.other-card {
		grid-column: 1;
		.other-card-box-1 {
			color: white;
			background: #959595;
			text-align: center;
			padding: 2rem 0;
		}
		.other-card-box-2 {
			padding: 1rem 3rem;
			text-align: center;
			img {
				height: 24px;
				display: block;
				margin: auto;
				margin-bottom: 1rem;
			}
			button {
				display: block;
				margin: auto;
				margin-top: 1rem;
			}
		}
	}
}
.fs-20 {
	font-size: 20px;
}
.btn-outline-primary {
	color: #C15B78;
  border-color: #C15B78;
	background: white;
	&:hover, &:active {
		background-color: darken(#C15B78, 15%) !important;
		border-color: #C15B78;
	}
}
.btn-green {
	color: white;
  border-color: #3CACAE;
	background: #3CACAE;
	&:hover, &:active {
		background-color: darken(#3CACAE, 15%) !important;
		border-color: darken(#3CACAE, 15%);
		color: white;
	}
}
.btn-red {
	color: white;
  border-color: #C15B78;
	background: #C15B78;
	&:hover, &:active {
		background-color: darken(#C15B78, 15%) !important;
		border-color: darken(#C15B78, 15%);
		color: white;
	}
}
.btn-outline-primary-agree {
	color: black;
  border-color: #AEAEAE;
	background: white;
	&:hover, &:active {
		background-color: #3CACAE !important;
		border-color: #3CACAE;
		color: white;
	}
	&.selected {
		color: white;
		background: #3CACAE;
		border: #3CACAE;
	}
}
.btn-outline-primary-refuse {
	color: black;
  border-color: #AEAEAE;
	background: white;
	&:hover, &:active {
		background-color: #C15B78 !important;
		border-color: #C15B78;
		color: white;
	}
	&.selected {
		color: white;
		background: #C15B78;
		border: #C15B78;
	}
}

/****** MODAL *******/
.modal-content {
	border-radius: 0;
  border: 0;
  box-shadow: 0 2px 4px #00000033;
	.modal-header {
		border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #3CACAE;
    .modal-title {
    	color: white;
    	text-align: center;
    	margin: auto;
    }
	}
}
.modal-body {
	margin-bottom: 40px;
	padding: 2rem;
}
.modal-footer {
  justify-content: center;
  padding: 0;
  position: relative;
  .btn {
  	position: absolute;
  }
  .btn-close {
  	padding-top: 120px;
  	margin-bottom: 20px;
  }
}
.preferences-row {
	display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  &.with-icon {
  	.preferences-icon {
  		position: absolute;
  		height: 30px;
  	}
  	.preferences-name {
  		padding-left: 40px;
  	}
  }
  .preferences-count {
  	display: flex;
	  align-items: center;
  	img {
  		height: 24px;
  	}
  }
}
.modal-backdrop.show {
	opacity: 1;
	background: white;
}
.agree-text {
	padding: 2.5rem;
	text-align: center;
	margin: auto;
	img {
		margin-top: 1rem;
	}
}
.modal-dialog-center {
	margin-top: 30vh;
}
.bg-red {
	background: #C15B78 !important;
}